<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>БАРДЫ-ДЕТЯМ</title>
      <style>

       .thumb  { float:left; margin: 10px }
       .thumb img  {
       border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
    object-fit: cover;
}
.thumb:hover img  {
    border: 2px solid #f26522; /* Рамка при наведении на ссылку курсора мыши */
    }
  </style>
 </head>
 <body>

 <h1 align="center">БАРДЫ-ДЕТЯМ</h1>
 <a href="http://www.reliablecounter.com" target="_blank"><img src="http://www.reliablecounter.com/count.php?page=#1041;#1040;#1056;#1044;#1067;-#1044;#1045;#1058;#1071;#1052;.rf&digit=style/plain/3/&reloads=0" alt="reliablecounter.com" title="reliablecounter.com" border="0"></a><br /><a href="http://relia" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">reliablecounter.com</a>

{% for c in comp %}
<a  href="{% url 'index' c.pk %}">
           <div class="thumb">
               <p>{{c.name_composer}} {{c.fam_composer}}</p>
               <img src="{{ c.photo.url }}"  width="189"  height="255">
           </div>
</a>
 {% endfor %}


</body>
</html>
