{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



    <title>БАРДЫ - ДЕТЯМ</title>


        <title>БАРДЫ - ДЕТЯМ</title>

</head>
<body>

 <h1 align="center">jhjkhkhkh</h1>

 <audio controls>
         <source src="{{exe.audio_file.url}}" >
         <p> href="{{exe.audio_file.url}}">Скачайте музыку</p>
        </audio>



</body>
</html>