
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>SCO</title>

 </head>
 <body>
 <script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(83256124, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/83256124" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
 <p>

     Здравствуйте, дорогие друзья!<br />

&nbsp; &nbsp; &nbsp;В Ваших руках небольшой сборник стихов людей различных профессий и увлечений, разных судеб и убеждений,
     не говоря уже о возрастном диапазоне. Когда одни собирались в школу, другие уже подумывали о пенсии.
     Роднит их, пожалуй, лишь одно – живя в разных концах мегаполиса и встретившись однажды, они уже никогда
     не расставались.
     <br />
	&nbsp; &nbsp; &nbsp;А началось все давно, без малого полвека назад, когда в начале шестидесятых на Ленинских Горах,
     «из стекла и бетона… гостеприимно распахнул двери» Дворец пионеров и школьников. Еще не остыли сопла
     первого «Востока» и почти в каждой квартире висел портрет Юрия Гагарина, а на новогодних открытках
     Сатурн с Юпитером весело улыбались пролетающей ракете. Еще в школах хором разучивали «На пыльных
     тропинках, далеких планет…» и, казалось, что вот, еще чуть-чуть, еще один только шаг, и люди будут
     на Луне, на Марсе, на Венере. И, конечно, это будем мы! Мы будем первыми! За окном был золотой век
     астро-космической романтики. И мало кто из тогдашних мальчишек мог избежать соблазна покрутиться
     на тренажере, потрогать своими руками летный шлем или увидеть тот самый Сатурн не на красочной открытке,
     а своими глазами, в настоящий, очень большой телескоп. Не миновала сия страсть и нас, встретившихся в
     отдел астрономии и космонавтики. В это прекрасное время в нужном месте мы познакомились с удивительные
     люди, нашими педагогами, привившим нам не только любовь к астрономии, но привычку самостоятельно
     думать, иметь свое, пусть ни с чем не совпадающее, мнение. Это они проводили «ночные наблюдения»
     с долгими беседами обо всем, ходили с нами в первые турпоходы и экспедиции , примешивая к астрономии
     неповторимое очарование путешествий. Они открывали для нас мир книг далекий от опостылевшей школьной
     литературы, вживив в нас некую искорку жажды познаний и открытий.
<br />
&nbsp; &nbsp; &nbsp;     Вот на таком плодородном конгломерате и возникла наша компания, поначалу не очень большая, не хуже и
     не лучше других, со странным названием SCO (латинской аббревиатурой созвездия Скорпион), со своим
     гимном – песней о «Почтовом дилижансе» и днем рождения в «вечные выходные» - седьмого ноября.
<br />
&nbsp; &nbsp; &nbsp;Несколько позже от наших старших друзей пришли стихи, то ли семнадцатого, то ли восемнадцатого века,
     о далеком острове в Атлантическом Океане, с чарующим названием Тенериф. Тогда он был таким же
     недосягаем и таинственным,  как далекие манящие звезды.
<br />
&nbsp; &nbsp; &nbsp;По весне SCOшная братия разъезжалась по разным уголкам огромной страны: в горы, пещеры, тайгу, и
     наряду с таинственными именами созвездий и галактик, зазвучали не менее завораживающие,
     но вполне земные, названия: Сихотэ-Алинь, Эльбрус, Подкаменная Тунгуска, Хамар-Дабан… Земной мир
     соединился со звездным, став не менее притягательным. Ну, а какие путешествия без песен? И все вдруг запели! Кто имел голос, и кто не имел, со слухом или без оного, запели Визбора, Якушеву, Городницкого…, списывая слова с магнитофонных фонограмм и подбирая мелодии нехитрыми комбинациями четырех аккордов. И вскоре песня стала для нас такой же неотъемлемой частью, как и астрономия и путешествия.

     <br />
     &nbsp; &nbsp; &nbsp;Покинув гостеприимные стены Дворца бывшие кружковцы далеко не улетали. Оставаясь педагогами, лекторами
     или просто друзьями отдела, они поддерживали ту неповторимую атмосферу научной романтики и большой
     дружбы, соединившей когда-то их самих. И год за годом SCO прирастало новыми членами команды, не только
     из новых кружковцев, но и из их друзей, и из друзей их друзей. В итоге, SCO переросло в некое
     галактическое образование, подчиненное одному единственному закону: закону взаимного тяготения друг
     к другу.
<br />
     &nbsp; &nbsp; &nbsp;Уже канули в Лету страна с «выходным», многие сменили статус пап и мам на титулы дедушек и бабушек,
     но год за годом холодный осенний лес освещается отблесками костров, и под нестройные гитарные
     аккорды звучат старые и новые песни, рассказы о путешествиях, о себе, о мире вокруг нас.
<br />
     &nbsp; &nbsp; &nbsp;В этом сборнике представлено далеко не все созданное за полвека совместной жизни нас и наших друзей.
 <br />
     &nbsp; &nbsp; &nbsp;Что-то безвозвратно утеряно, что-то не вошло ввиду ограниченности объема, и еще ждет своего часа,
     кто-то просто отказался от публикации, посчитав написанное малоценным. Что ж, может быть, еще будет
     возможность исправить эти просчеты и ошибки. Но в каждом стихотворении, под этой обложкой, есть
     участие всех нас и каждого в отдельности, настолько тесно переплелись наши судьбы. Пожалуй,
     хватит прозы, и обратимся к поэзии. В добрый путь, читатель! «Почтовый дилижанс» отправляется…



 </p>










</body>
</html>
